    <!--
        ログインしたらtweetが書ける
    -->
<% if current_user %>
    <%= link_to 'tweetする', controller: 'tweets', action: 'new' %>
<% end %>

<P></P>

<% @tweets.each do |t| %>
        <%= t.message %> [tweeted by <%= User.find(t.user_id).uid %>]
    <!--
        ログインしたアカウントとtweetを書いた人が同じであるか確認。
        同じであれば、削除できる
    -->
    <% if current_user %>
        <% like = Like.find_by(tweet_id: t.id,user_id: current_user.id) %>
        <%if like %>
            <%= link_to 'いいね削除', like_path(t), method: :delete %>
        <% else %>
            <%= link_to 'いいね', likes_path(tweet_id: t.id), method: :post %>
        <% end %>
        <% if current_user.id.to_s == Tweet.find(t.id).user_id.to_s %>
            <%= link_to 'Tweet削除', tweet_path(t.id), method: :delete %>
        <% end %>
    <% end %>   
    <hr>
<% end %>

