    <!--
        ログインしたらtweetが書ける
    -->
<% if session[:login_uid] %>
    <%= link_to 'tweetする', controller: 'tweets', action: 'new' %>
<% end %>

<P></P>

<% @tweets.each do |t| %>

    <%= t.message %> [tweeted by <%= t.user_id %>]
    
    <%= link_to 'いいね', likes_path(tweet_id: t.id), method: :post %>
    <%= link_to 'いいね削除', like_path(t), method: :delete %>
    
    <!--
        ログインしたアカウントとtweetを書いた人が同じであるか確認。
        同じであれば、削除できる
    -->
    <% if session[:login_uid].to_i == Tweet.find(t.id).user_id.to_i %>
        <%= link_to 'Tweet削除', "tweets/#{t.id}", method: :delete %>
    <% end %>
    
    <hr>
<% end %>

