<div>users index page</div>

<% if  session[:login_uid] %>
    welcome <%= session[:login_uid]%>
    <%= link_to 'ログアウト', "/top/logout" ,method: :get %>
<% else %>
    <div>
    <%= render 'signup' %>
    <%= render 'signin' %>
    </div>
<% end %>
<div>
    <%= render 'tweets' %>
</div>
<div> 
    <%= render 'signout' %>
</div>
<div>
    <%= render 'user_list' %>
</div>
